Fabric==1.10.1
Jinja2==2.7.3
MarkupSafe==0.23
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.3.2
certifi==14.05.14
ecdsa==0.13
flake8==2.4.0
gnureadline==6.3.3
ipython==3.0.0
jsonschema==2.4.0
lxml==3.4.2
marshmallow==1.2.2
mccabe==0.3
ordereddict==1.1
paramiko==1.15.2
pep8==1.6.2
py==1.4.26
pycrypto==2.6.1
pyflakes==0.8.1
pytest==2.6.4
python-xbrl==1.1.0
pyzmq==14.5.0
requests==2.5.3
requests-cache==0.4.9
six==1.9.0
tornado==4.1
wsgiref==0.1.2
